InstallArea/
patches/
test_results/
tags/
lib/*
exec/*
bin/*
inc/config.h
*~
spack*
*.pyc
*.root
*.png
*.pdf
*.swp
*.dat
*.gdml
*.log
build*
install*
build.*.log
setup.*
cleanup.*
*nohup.out
CMakeCache.txt
.bash_history
.root_hist
*.root
.vscode/c_cpp_properties.json
.vscode/settings.json
*.tar
*.tar.gz
.gdb_history
*.new
*.launch
*.launch.py
.project
.cproject
.settings
.pydevproject
.vscode
.build/
build-dir/
build.*/
.eclipse/
CMakeFiles/
CTestTestfile.cmake
CPackSourceConfig.cmake
CPackConfig.cmake

